.home-container {
  margin: auto;
  width: 40%;
  background-color: #2b2a2a;
  text-align: center;
  border-radius: 20px;
  color: white;
}

.home-header {
  color: #bb86fc;
  margin-top: 35px;
}

.home-text {
  padding: 50px;
}

.home-btn-container {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.home-link {
  font-size: 101%;
  width: 180px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  display: flex; /* Use flexbox */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  outline: none;
  border-radius: 20px;
  border: 2px solid #51557e;
  background: #51557e;
  margin-bottom: 50px;
  text-decoration: none;
  color: #fff;
  padding: 15px;
}

.home-link:hover{
  background: #fff;
  color: #51557e;
}

@media (max-width: 1400px) {
  .home-container {
    width: 60%;
  }
}

@media (max-width: 850px) {
  .home-btn-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 650px) {
  .home-container {
    padding: 5px;
    width: 80%;
  }
}
