h3 {
  color: #bb86fc;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form {
  width: 90%;
}

.teams {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.label-team {
  width: 50%;
  padding: 12px;
  text-align: left;
  margin: 0;
}

.check-team {
  vertical-align: left;
  padding: 0;
}

@media (max-width: 1400px) {
  .label-team {
    width: 75%;
  }
}

@media (max-width: 1100px) {
  input {
    width: 3.5%;
  }
}

@media (max-width: 1100px) {
  .main-container {
    width: 90%;
    padding: 0px 50px;
  }
}

@media (max-width: 600px) {
  input {
    width: 4%;
  }
}
