.generate-btn {
  font-size: 101%;
  margin-top: 50px;
  width: 50%;
}

@media (max-width: 1100px) {
  .generate-btn,
  input {
    width: 80%;
  }
}

@media (max-width: 650px) {
  .generate-btn,
  input {
    width: 95%;
  }
}
