.register-container {
  margin: auto;
  width: 40%;
  background-color: #2b2a2a;
  text-align: center;
  border-radius: 20px;
  color: white;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

.register-container h1 {
  color: #bb86fc;
  margin-top: 35px;
  justify-content: center;
  align-items: center;
}

input[type="email"] {
  display: block;
  text-align: center;
  padding: 12px 20px;
  margin: 8px auto;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #bb86fc;
  background-color: #2b2a2a;
  width: 60%;
  text-align: center;
}
