.forgotten {
  margin-bottom: 20px;
  margin-left: 50px;
  text-align: left;
}

.forgotten a {
  text-decoration: none;
  color: grey;
}

.forgotten a:hover {
  color: #03dac5;
}

@media (max-width: 650px) {
  .forgotten {
    text-align: center;
    margin-left: 0;
  }
}
