label {
  margin-top: 25px;
}

select {
  border-radius: 5px;
}

input[type="date"] {
  border-bottom: none;
  margin-top: 25px;
}

@media (max-width: 650px) {
  .admin-label {
    padding: 0;
  }

  input[type="date"] {
    width: 100%;
  }
}
